@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul {
    display: flex;
}


nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav li a{
    text-decoration: none;
    color: #424242;
}

.nav-title{
    font-size: 2.2rem;
    font-weight: 700;
    color: #131313;
}



.banner-content{
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
}

.banner-image{
    width: 100%;
    
}

.banner-title{
    font-size: 3.3rem;
    font-weight: 700;
    color: #131313;
}

.banner-description{
    font-size: 0.8rem;
    font-weight: 400;
    color: #727272;
    margin-bottom: 32px
}

.btn-primary{
    padding: 16px 21px;
    background-color: #FF900E;
    border-radius: 8px;
    border-style: none;
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 32px;
    cursor: pointer;

}


main{
    max-width: 1440px;
    margin: 70px auto;

}


.teams-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}



.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.teams-content{
    padding-left: 60px;
    padding-right: 60px;
    /* margin-left: 50px; */
}


.teams-img-container img{
    width: 270px;
    height: 270px;
    border-radius: 8px;
}


.teams-title{
    font-size: 2rem;
}


.teams-title .quick{
    color: #727272;
    font-weight: 500;
    font-size: 2.2rem;
    
}

.teams-title .of{
    color: #131313;
    font-weight: 700;
    font-size: 2.2rem;
}

.teams-title .features{
    color: #FF900E;
    font-weight: 700;
    font-size: 2.2rem;
}

.teams-description{
    color: #727272;
    font-size: 0.8rem;
    font-weight: 400;
}


/* media query styles */

 @media screen and (max-width: 576px) {
        header{
            padding: 20px;
        }   
        nav,
        .teams-container
        {
            flex-direction: column;
        }
        .teams-img-container{
            grid-template-columns: 1fr;
        }

        .teams-content{
            padding-left: 20px;
            padding-right: 20px;
        }

 }


 @media screen and (min-width: 576px) and (max-width: 960px) {
        nav, .teams-container{
            flex-direction: column;
        }
        header{
            padding: 50px;
        }  
 }